
body {
    color: #000;
    font-family: Monospace;
    font-size: 13px;
    margin: 0px;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, #00FFF3 25%, #4b2ecf 100%);
}

.dg {
    display: none;

    @media (min-width: 768px) {
        display: block;
    }
}
